.wrap-challenge1 {
  margin: 100px 80px;
  .wrap-todos {
    .single-todo {
      border: 1px solid gray;
      width: 340px;
      height: 40px;
      border: 1px solid lightgray;
      justify-content: space-between;
      .input {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 5px;
        border: 2px solid #555;
        margin-top: auto;
        margin-bottom: auto;
      }
      .input.completed {
        background: red;
      }

      .task-name {
        // margin-right: 30px;
        font-size: 20px;
        margin-top: auto;
        margin-bottom: auto;
      }
      .task-name.completed {
        text-decoration: line-through;
        color: red;
      }
      .remove-task {
        font-size: 22px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        display: flex;
        cursor: pointer;
        // justify-self: end;
      }
      .remove-task:hover {
        opacity: 0.85;
        transition: transform 0.3s ease;
        transform: scale(1.4);
      }
    }
  }
  .wrap-report {
    margin-top: 25px;
    .tasks-left {
      margin-right: 20px;
    }
    .filters {
      .single-filter {
        border: 1px solid #555;
        cursor: pointer;
        margin-right: 15px;
        width: 80px;
        border-radius: 6px;
        // text-align: center;
        display: flex;
        justify-content: center;
      }
      .single-filter:hover,
      .single-filter.active-filter {
        background: #555;
        color: white;
      }
    }
  }
  .add-new-task {
    margin-top: 30px;
    input {
      height: 25px;
      width: 200px;
      border-radius: 4px;
    }
    input::placeholder {
      font-size: 18px;
    }
    #submitNewTask {
      margin-left: 20px;
      border: 1px solid #555;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 20px;
    }
    #submitNewTask:hover {
      color: white;
      background: #555;
    }
    .hidden {
      display: none;
    }
  }
}
